.column-width {
  width: 550px;
  height: 360px;
}

.row-width {
  width: 260px;
  height: 360px;
}
.story_card {
  padding: 3px;
  position: relative;
  object-fit: contain;
  flex-direction: row;
  align-items: flex-end;

  .category_like_container {
    position: absolute;
    z-index: 1;
    top: 20px;
    width: 98%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    .category_title {
      color: #fafafa;
      border: 1px solid white;
      padding: 3px 4px;
      border-radius: 10px;
      height: 27px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

    filter: brightness(75%);
  }

  ._content {
    letter-spacing: 0.003em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 140px;

    .date {
      font-size: 14px;
      color: lightgray;
    }
    .title_container {
      height: fit-content;
      .author_name {
        color: lightgray;
        padding-bottom: 6px;

        p {
          display: inline-block;
          //padding-top: 5px;
          padding-left: 5px;
        }
      }

      .title {
        font-family: $title-font;
        font-size: 16px;
        margin: 4px 0;
      }
    }

    .story_link_container {
      padding: 10px 0;
      border-top: 1px solid ghostwhite;
      .story_link {
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: $title-font;

        &:hover {
          color: orangered;
        }

        .icon {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .column-width {
    width: 450px;
    height: 350px;
  }
}

@media screen and (max-width: 800px) {
  .column-width {
    width: 680px;
    height: 450px;
  }
}

@media screen and (max-width: 550px) {
  .column-width {
    width: 100%;
    height: 350px;
  }

  .row-width {
    width: 260px;
    height: 360px;
  }
}
