.mobile_menu {
  a {
    font-family: $title-font;
    border-right: 3px solid #333333;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    padding: 15px 0;
    margin: 10px 0;
  }
}
