.profile {
  position: relative;
  display: flex;
  margin-top: 44px;

  .stories {
    .featured {
      font-size: 20px;
      font-family: $title-font;
      margin-left: 40px;
      padding-bottom: 10px;
    }
    h1 {
      margin-left: 20px;
    }
    .content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-left: 44px;
    }
  }

  .p_container {
    display: flex;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  .account {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    @media screen and (max-width: 800px) {
      width: 100%;
    }

    .edit {
      position: relative;
      display: flex;
      align-items: center;

      p {
        padding: 10px 0;
        font-size: 20px;
        font-family: $name_font;
        letter-spacing: 0.9px;
      }

      .icon {
        cursor: pointer;
        position: relative;
        bottom: 7px;
        font-size: 20px;

        color: orangered;
      }
    }
    .details {
      width: 100%;
      .about {
        margin: 15px 0;
        p {
          font-size: 16px;
          padding-top: 5px;
          color: gray;
          text-align: left;
        }
      }
      .location {
        h4 {
          margin-bottom: 5px;
          font-size: 15px;
        }
        p {
          color: grey;
        }
      }

      .followers {
        width: 100%;

        span {
          font-size: 16px;
          padding-right: 25px;
          font-weight: bold;
        }
      }
    }
    img {
      width: 230px;
      height: 250px;
      border-radius: 7px;
      object-fit: cover;
      margin-top: 5px;

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }

    h1 {
      height: fit-content;
      width: fit-content;
    }
  }
}
