.profile {
  position: relative;

  .stories {
    position: relative;
    bottom: 90px;

    .content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .background {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .account {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;

    .edit {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
      }

      .icon {
        cursor: pointer;
        position: relative;
        bottom: 7px;
        font-size: 20px;

        color: orangered;
      }
    }
    .details {
      text-align: center;
      h3 {
        width: 100%;
      }

      .followers {
        width: 100%;
        span {
          padding-right: 5px;
        }
      }
    }
    img {
      width: 250px;
      height: 200px;
      border-radius: 7px;
      object-fit: cover;
    }

    h1 {
      height: fit-content;
      width: fit-content;
    }
  }
}
