.filter_container {
  display: flex;
  align-items: center;
  background-color: white;

  .icon {
    font-size: 25px;
    margin-left: 10px;
  }

  select {
    padding-left: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }
}
