.header_container {
  padding-top: 10px;
  position: relative;

  @keyframes test {
    from {
      filter: brightness(20%);
    }
    to {
      filter: brightness(80%);
    }
  }

  @keyframes dot {
  }

  .animate {
    animation: test 1s linear forwards;
  }

  .dots {
    position: absolute;
    bottom: 25px;
    width: 100%;
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dot_container {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
      height: fit-content;
      width: fit-content;
    }

    .round {
      width: 20px;
      height: 20px;
      border: 2px solid #b61919;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dot {
      width: 10px;
      height: 10px;
      background-color: #fafafa;
      border-radius: 50%;
    }
  }
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(80%);
    object-position: center;
    // animation: test 2s linear forwards;
  }
  .description {
    position: absolute;
    bottom: 130px;
    width: 400px;
    margin-left: 80px;
    color: white;
    height: fit-content;

    :last-child {
      &:hover {
        color: orangered;
      }
    }

    .author_info {
      p {
        display: inline-block;
        margin-right: 7px;
      }
      a {
        color: #fafafa;
      }
    }

    span,
    p,
    a {
      font-size: 15px;
    }

    span {
      color: #fafafa;
    }
    p {
      margin-top: 5px;
      margin-bottom: 15px;
      color: lightgray;
    }

    h1 {
      width: 350px;
      margin-top: 5px;
    }

    a {
      margin-top: 5px;
      text-decoration: none;
      color: white;
    }

    @media screen and (max-width: 600px) {
      margin-left: 5px;
      transform: scale(0.9);
    }

    @media screen and (max-width: 400px) {
      transform: scale(0.8);
      left: -27px;
    }
  }
}
