@import "../../styles//global";
@import "../../styles//typography";

.nav_container {
  width: 100%;
  padding: 3px 0;
  position: relative;
  background-color: white !important;

  .nav_menus {
    font-weight: 500;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    .b_menu {
      display: none;
      .burger {
        font-size: 23px;
        margin-left: 15px;
        cursor: pointer;
      }

      @media screen and (max-width: 700px) {
        display: block;
      }
    }
  }

  a {
    font-family: $font-primary;
    text-decoration: none;
    color: $primary-color;
  }

  ._nav {
    height: 50px;
    justify-content: space-between;
    align-items: center;

    .nav-links {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        margin-right: 30px;
        border-bottom: 1px solid transparent;

        transition: all 250ms ease-in-out;
        &:hover {
          border-color: black;
          color: #333333;
        }
      }
    }
  }

  .logo {
    font-family: $font-primary;
    display: flex;
    align-items: center;

    .icon {
      font-size: 22px;
      margin-right: 5px;
    }
  }
  .user-links {
    align-items: center;
    height: 100%;
    .link_to_create {
      background-color: #333333;
      padding: 5px 15px;
      color: white;
      border: 1px solid transparent;
      border-radius: 2px;
      cursor: pointer;
      transition: all 250ms;

      &:hover {
        background-color: transparent;
        border-color: #333333;
        color: black;
      }

      @media screen and (max-width: 650px) {
        display: none;
      }
    }
    .icon {
      font-size: 25px;
      margin-left: 10px;
      margin-top: 4px;
      transition: all 250ms;

      &:hover {
        color: orangered;
      }
    }
  }

  .n-link {
  }

  .user_account_menu {
    position: relative;

    .user {
      cursor: pointer;
      margin-left: 10px;
      display: flex;
      align-items: center;
      min-width: 100px;
      img {
        height: 31px;
        width: 35px;
        border-radius: 5px;
        object-fit: cover;
      }
      p {
        padding-left: 5px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .account {
      display: none;
    }
    .nav-links {
      display: none;
    }
  }
}

.active {
  z-index: 999;
  display: block;
  position: absolute;
  right: 0px;
  top: 40px;
  background-color: white;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;

  button,
  a {
    display: block;
    text-align: center;
    border-radius: 5px;
    font-family: $font-primary;
    text-decoration: none;
    color: $primary-color;
    width: 220px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    background: none;
    border: none;

    &:hover {
      color: orangered;
    }
  }
}

.not_active {
  display: none;
}
