@import "../../styles//global";
@import "../../styles//typography";

.nav_container {
  width: 100%;
  border-bottom: 1px solid black;
  position: relative;

  .nav_menus {
    display: flex;
    justify-content: center;
    align-items: center;

    .b_menu {
      display: none;
      .burger {
        font-size: 23px;
        margin-left: 15px;
        cursor: pointer;
      }

      @media screen and (max-width: 700px) {
        display: block;
      }
    }
  }

  a {
    font-family: $font-primary;
    text-decoration: none;
    color: $primary-color;
    margin: 5px;
    width: 100%;
  }

  ._nav {
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: $font-primary;
  }
  .user-links {
    align-items: center;
    height: 100%;
  }

  .n-link {
  }

  .account {
    position: relative;
  }

  @media screen and (max-width: 700px) {
    .account {
      display: none;
    }
    .n-link {
      display: none;
    }
  }
}

.active {
  z-index: 1;
  display: block;
  position: absolute;
  right: 0px;
  top: 40px;
  width: 200px;
  height: 200px;
  a {
    display: block;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
  button {
    font-family: $font-primary;
    text-decoration: none;
    color: $primary-color;
    width: 100%;
    margin: 5px;
    padding: 5px;
    background: transparent;
    font-weight: 500;
  }
}

.not_active {
  display: none;
}
