.search_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: 1px solid #333333;
  border-radius: 2px;
  padding: 2px 0;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 190px;
    right: 0;
  }

  .search_wrapper {
    display: flex;
    width: inherit;

    //transition: all 150ms ease-in-out;
  }
  .search_result_nav {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 999;
    border-top: none;

    background-color: white;
  }

  .is-search-open {
    visibility: visible;
  }

  .search_icon {
    border: none;
    cursor: pointer;
    color: lightgray;
    font-size: 25px;
    margin-right: 5px;
  }

  input {
    padding: 0;
    margin: 0;
    width: 100%;
    border-color: transparent;
  }
  select {
    color: gray;
    border: none;
    margin-left: 2px;
    @media screen and (max-width: 800px) {
      font-size: 10px;
    }
  }
  input:focus {
    outline: none;
  }
}
