.stories_container {
  .filter {
    margin: 44px 0;
    padding: 10px 0;
    background-color: white;
  }
  .display_stories {
    width: 100%;
    display: flex;
    //justify-content: center;
    flex-wrap: wrap;
  }
}
