.create_story_container {
  padding: 5px;
  margin: 44px 0;
  border-radius: 2px;
  background-color: white;
  .create_title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: 700;
  }

  ._form {
    display: flex;
    flex-direction: column;

    input,
    select {
      background-color: #fafafa;
      margin-top: 20px;
    }

    .text_area {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-top: 10px;
      background-color: #fafafa;
      border: solid 1px #cccccc;
    }
  }
  .form_buttons {
    margin-top: 10px;
  }
}

.ql-container {
  min-height: 100px !important;
  background-color: #fafafa;
}
.ql-editor,
.ql-toolbar {
  background-color: #fafafa;
}
